In [1]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\abhishek jha\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: tqdm in c:\users\abhishek jha\anaconda3\lib\site-packages (from nltk) (4.50.2)
Requirement already satisfied: click in c:\users\abhishek jha\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\abhishek jha\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: regex in c:\users\abhishek jha\anaconda3\lib\site-packages (from nltk) (2020.10.15)

In [2]:
import nltk

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\ABHISHEK
[nltk_data]     JHA\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
import pandas as pd

In [5]:
fake = pd.read_csv("Fake.csv")
genuine = pd.read_csv("True.csv")

In [6]:
display(fake.info())
display(genuine.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
dtypes: object(4)
memory usage: 669.4+ KB

None

In [7]:
display(fake.head())
display(genuine.head())

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [8]:
display(fake.subject.value_counts())
print('\n')
display(genuine.subject.value_counts())

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [9]:
fake['target'] = 0
genuine['target'] = 1

In [10]:
display(fake.head())

,title,text,subject,date,target
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [11]:
display(genuine.head())

,title,text,subject,date,target
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [12]:
data = pd.concat([fake, genuine], axis=0)

In [13]:
data = data.reset_index(drop=True)

In [14]:
data = data.drop(['subject', 'date', 'title'], axis=1)

In [15]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

TOKENIZATION

In [16]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [17]:
print(data.head(10))

                                                text  target
0  [Donald, Trump, just, couldn, t, wish, all, Am...       0
1  [House, Intelligence, Committee, Chairman, Dev...       0
2  [On, Friday, ,, it, was, revealed, that, forme...       0
3  [On, Christmas, day, ,, Donald, Trump, announc...       0
4  [Pope, Francis, used, his, annual, Christmas, ...       0
5  [The, number, of, cases, of, cops, brutalizing...       0
6  [Donald, Trump, spent, a, good, portion, of, h...       0
7  [In, the, wake, of, yet, another, court, decis...       0
8  [Many, people, have, raised, the, alarm, regar...       0
9  [Just, when, you, might, have, thought, we, d,...       0

STEMMING

In [19]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [20]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [21]:
data['text'] = data['text'].apply(stem_it)

In [22]:
print(data.head(10))

                                                text  target
0  [donald, trump, just, couldn, t, wish, all, am...       0
1  [hous, intellig, committe, chairman, devin, nu...       0
2  [on, friday, ,, it, was, reveal, that, former,...       0
3  [on, christma, day, ,, donald, trump, announc,...       0
4  [pope, franci, use, his, annual, christma, day...       0
5  [the, number, of, case, of, cop, brutal, and, ...       0
6  [donald, trump, spent, a, good, portion, of, h...       0
7  [in, the, wake, of, yet, anoth, court, decis, ...       0
8  [mani, peopl, have, rais, the, alarm, regard, ...       0
9  [just, when, you, might, have, thought, we, d,...       0

STOPWORD REMOVAL

In [23]:
def stop_it(t):
    dt = [word for word in t if len(word)>2]
    return dt

In [24]:
data['text']=data['text'].apply(stop_it)

In [25]:
print(data['text'].head(10))

0    [donald, trump, just, couldn, wish, all, ameri...
1    [hous, intellig, committe, chairman, devin, nu...
2    [friday, was, reveal, that, former, milwauke, ...
3    [christma, day, donald, trump, announc, that, ...
4    [pope, franci, use, his, annual, christma, day...
5    [the, number, case, cop, brutal, and, kill, pe...
6    [donald, trump, spent, good, portion, his, day...
7    [the, wake, yet, anoth, court, decis, that, de...
8    [mani, peopl, have, rais, the, alarm, regard, ...
9    [just, when, you, might, have, thought, get, b...
Name: text, dtype: object

In [27]:
data['text'] = data['text'].apply(' '.join)

SPLITTING UP OF DATA

In [29]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test =train_test_split(data['text'], data['target'], test_size=0.25)
display(x_train.head())
print('\n')
display(y_train.head())

22011    patrick henningsen 21st centuri wireher again ...
23296    jay dyer 21st centuri wireth popular 80s pasti...
13344    lol chris thrill his leg matthew doe his best ...
40505    kiev reuter ukrainian lawmak vote through long...
25336    aboard air forc one reuter u.s. treasuri secre...
Name: text, dtype: object

22011    0
23296    0
13344    0
40505    1
25336    1
Name: target, dtype: int64

VECTORIZATION

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer(max_df = 0.7)

tfidf_train = my_tfidf.fit_transform(x_train)
tfidf_test = my_tfidf.transform(x_test)

In [31]:
print(tfidf_train)

  (0, 84029)	0.018934713886368505
  (0, 3670)	0.01853350099883953
  (0, 78745)	0.01935748323756989
  (0, 31880)	0.020790381676395894
  (0, 55718)	0.0069300928302425645
  (0, 7696)	0.022189068657604845
  (0, 57931)	0.015379637941396034
  (0, 23463)	0.012232473647376358
  (0, 9368)	0.0172822561303351
  (0, 67599)	0.03452153428418936
  (0, 88482)	0.00905392639422148
  (0, 39765)	0.013752941164509792
  (0, 89401)	0.05099507892766738
  (0, 32905)	0.019469178591566726
  (0, 9835)	0.017623595983466984
  (0, 8151)	0.016190094486527556
  (0, 35281)	0.03027644396879661
  (0, 90028)	0.020685767071281398
  (0, 15743)	0.017686829176191667
  (0, 26845)	0.010320181579592542
  (0, 65389)	0.022201740733787906
  (0, 90044)	0.03018172874241474
  (0, 79270)	0.01527740320786912
  (0, 30197)	0.014926559250651431
  (0, 24762)	0.022924899270561877
  :	:
  (33672, 22502)	0.0489427518784251
  (33672, 53737)	0.032948799454661684
  (33672, 73959)	0.04405737834972227
  (33672, 59324)	0.01735102240258998
  (33672, 61794)	0.033936943595823804
  (33672, 64314)	0.033298969340649354
  (33672, 58016)	0.05124698220754835
  (33672, 88002)	0.07741844326511803
  (33672, 48426)	0.026666719497898183
  (33672, 60810)	0.05653449748701351
  (33672, 82571)	0.03790375497434033
  (33672, 48754)	0.03226395024858588
  (33672, 37953)	0.017314403815394782
  (33672, 73520)	0.03225492349663866
  (33672, 9125)	0.04700510228534733
  (33672, 50292)	0.03514802833643851
  (33672, 22560)	0.02741806576805459
  (33672, 10159)	0.03990862489117126
  (33672, 81314)	0.022002961256949245
  (33672, 22489)	0.08060733075139165
  (33672, 81525)	0.02025707263033812
  (33672, 88920)	0.022131504337117597
  (33672, 81605)	0.018064504915740187
  (33672, 85368)	0.02808885194070409
  (33672, 29184)	0.06791935443431846

LOGISTIC REGRESSION

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [35]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1 = accuracy_score(y_test, pred_1)
print(cr1*100)

98.84187082405346

PASSIVE AGGRESSIVE CLASSIFIER

In [38]:
from sklearn.linear_model import PassiveAggressiveClassifier

model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(max_iter=50)

In [39]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ', accscore*100)

The accuracy of prediction is  99.56347438752783